/* Initial styles set */
/* Update color variables */

/* Fixing header alignment */

the next new project will be added soon 

/* Adding transition effects */

/* Configuring flexbox layout */
