/* Initial styles set */
/* Update color variables */

/* Fixing header alignment */

the next new project will be added soon 

/* Adding transition effects */

/* Configuring flexbox layout */

/* Social media icon styling */

/* Button hover effects added */

/* Background color refinement */
