@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: poppins, sans-serif;
}

:root {
    --bg-color: #eff6f8;
    --second-bg-color: #e7ecf5;
    --text-color: #1ede64;
    --main-color: #1f242d;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    color: var(--text-color);

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    /* background-color: #0ef;
    background-col; */
}

selection {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-filter: blur(10px);
    transition: all 0.3s ease;

}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
    cursor: default;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
}

.logo:hover {
    color: var(--main-color);
    transform: scale(1.05);
}

.navbar a {
    font-size: 1.6em;
    color: var(--text-color);
    margin-left: 2rem;
    transition: 3s;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#mwnu-icon {
    font-size: 5rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
}

/* home section code */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 5rem;
}

.home-content {
    flex: 2;
}


.home-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
    animation: floatImage 3s ease-in-out infinite;
    transition: 0.4s ease;

}

.home-img img:hover {
    box-shadow: 0 0 30px var(--main-color);
    0 0 40px var(--main-color);
    0 0 50px var(--main-color);

}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 4.5rem;
    font-weight: 600;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color)
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}


social-media a:hover {
    transform: scale(1.2) translateY((-10px));
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}


btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 01.6rem var(--main-color);
}